In [1]:
import pandas as pd

In [2]:
pd.read_csv('data/2022_fall_study.csv')

,date,Type,Feel,total_time,math_18_review,math_18_matlab,math_18_hw,dsc_10_review,dsc_10_hw,math_20b_review,math_20b_hw,doc_1,cogs_9,p_project,exam,Workload (1-5),Feeling (1-5),Hardness (1-5)
0,10/21/22,I,5,153,60,0,0,27,0,25,0,0,0,0,0,NaN,NaN,NaN
1,10/21/22,I,5,63,63,0,0,0,0,0,0,0,0,0,63,NaN,NaN,NaN
2,10/22/22,I,5,326,0,73,0,8,125,0,0,0,0,0,0,NaN,NaN,NaN
3,10/22/22,G,4,220,0,0,0,0,71,15,120,0,0,0,0,NaN,NaN,NaN
4,10/23/22,I,5,110,42,0,0,0,0,0,68,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,12/6/22,I,5,340,90,0,0,0,0,0,0,30,50,170,0,5.0,3.0,3.666667
71,12/7/22,G,5,155,60,0,0,0,0,0,0,0,35,60,0,5.0,3.0,3.000000
72,12/8/22,I,5,361,0,0,0,0,0,0,0,0,55,306,0,5.0,3.5,3.500000
73,12/9/22,I,5,90,0,0,0,0,0,0,0,0,0,90,0,5.0,3.0,3.000000
74,12/14/22,I,5,60,0,0,0,0,0,0,0,0,0,60,0,5.0,3.0,3.000000